

<!--View Information-->
<!--View name : Location Feed-->
<!--State name : app.locationFeed-->
<!--URL : #app/locationFeed-->

<ion-view title="{{title}}">
    <!--location feed section-->
     <ion-nav-buttons side="left">
        <a ng-click="backtosupplier('app.home')" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="openFromLeft(catData)"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons> <!--end right button on navigation bar-->

    <ion-content id="location-feed-content">
        <!--list section-->
       
            <!--location item section-->
            <ion-refresher  on-refresh="doRefresh()">
        </ion-refresher>

       <ion-list  class="list">
      <ion-item  class="item item-thumbnail-left" ng-repeat="item in list" ng-click="navigateTo('app.details',item)" >
     

  
      <img ng-src="http://www.pcexporters.com/{{item.image_path == '' ? no_preview  : item.image_path}}">
       <!--<img  image-lazy-src="http://ae.citibann.com/uploads/post-images/motors-citibann.JPG">-->
      
      <h2> {{item.ProductName}}</h2>
      <p>{{item.CompanyName}}</p>
      <p style="font-size:12px">{{item.ProductDescription}}</p>

      
  

   


      </ion-item>
    </ion-list>

   
        <ion-infinite-scroll
    on-infinite="loaddata()"
    distance="1%" ng-if="!moredata">
  </ion-infinite-scroll>
   
    </ion-content><!--end location feed section-->

     <!--loading progress-->
   
   
</ion-view>
