

<!--View Information-->
<!--View name : Location Feed-->
<!--State name : app.locationFeed-->
<!--URL : #app/locationFeed-->

<ion-view title="{{title}}">
    <!--location feed section-->

    <ion-nav-buttons side="left" >
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons>
    <ion-content id="location-feed-content">
        <!--list section-->
       
            <!--location item section-->
                 <!--location item section-->
            <ion-refresher  on-refresh="doRefresh()">
        </ion-refresher>
            <div class="list" ng-repeat="item in list" >

    <a class="item item-thumbnail-left" ng-click="navigateTo('app.details',item)" >
       <img ng-src="http://dev.pcexporters.com/{{item.image_path == '' ? no_preview : item.image_path}}" class="md-avatar"/>
      <h2>{{item.Product_Keyword}}</h2>
      <p>{{item.Details}}</p>
      <p>{{item.CompanyName}}</p>
<div class="row footer">
                <!-- <div class="col-33">
                    <span class="number">10.9k</span> <span class="wording">Likes</span>
                </div>
                <div class="col-33">
                    <span class="number">20k</span> <span class="wording">Comments</span>
                </div>
                <div class="col-33">
                    <span class="number">1k</span> <span class="wording">Shared</span>
                </div> -->
            </div>
      
    </a>

  
</div>
     <ion-infinite-scroll
    on-infinite="loaddata()"
    distance="3%" ng-if="!moredata">
  </ion-infinite-scroll>
    </ion-content><!--end location feed section-->

     <!--loading progress-->
   
   
</ion-view>
